.git
.idea
.vscode

**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

.env
**/.env

frontend/node_modules
frontend/dist

dist
build
*.log

infra/ansible/inventory/group_vars/**/secrets.yml